*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI',   arial , sans-serif;
    box-sizing: border-box;
}
body{
    line-height: 1.6;
    color: #333;

}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
/* nav bar styles */
.navbar {
    background-color: #1A0B2E;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.container-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1869px;
    width: 75%;
    margin: 0 auto;
}
/* desktop menu  */
.nav-menu{
    display: flex;
    list-style: none;
    gap: 30px;

}
.nav-menu li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s;
}
.btn-gradient {
    background:  linear-gradient(45deg ,#F7E935 , #FB09b4 , #9100F8) ;

    color: white ;
    border: none;
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: 0 10px 20px rgba(102,126,234, 00.3);
}
/* hamburger menu  */
.hamburger {
    display: none;
   
}
/* Mobile menu  */
.mobile-menu{
    display: none;
    background-color: white;
    padding: 20px;


}
.mobile-menu ul {
    list-style: none;
}
.mobile-menu ul li {
    margin: 15px 0;
}
.mobile-menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 500;
    font-weight: 18px;
}



















/* responsive for navbar  */
@media (max-width: 576px) {
    .container-nav-container {
        width: 90%;
        max-width: 576px;
        margin: 0 auto;
    }
    .nav-menu, .btn-gradient {
        display: none;
    }
    
    .hamburger {
        display: block;
    }
    
    .mobile-menu.show {
        display: block;
    }




















}