*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI',   arial , sans-serif;
    box-sizing: border-box;
}
body{
    line-height: 1.6;
    color: #333;

}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
/* nav bar styles */
.navbar {
    background-color: #1A0B2E;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.container-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1869px;
    width: 75%;
    margin: 0 auto;
}
/* desktop menu  */
.nav-menu{
    display: flex;
    list-style: none;
    gap: 30px;

}
.nav-menu li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s;
}
.btn-gradient {
    background:  linear-gradient(45deg ,#F7E935 , #FB09b4 , #9100F8) ;

    color: white ;
    border: none;
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: 0 10px 20px rgba(102,126,234, 00.3);
}
/* hamburger menu  */
.hamburger {
    display: none;
   
}
/* Mobile menu  */
.mobile-menu{
    display: none;
    background-color: white;
    padding: 20px;


}
.mobile-menu ul {
    list-style: none;
}
.mobile-menu ul li {
    margin: 15px 0;
}
.mobile-menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 500;
    font-weight: 18px;
}
/* banner styles  */
.banner {
    background:  url(./assets/hero-bg.png);
    
    background-position: center;
 
    padding: 200px 0;
    position: relative;
   
}
.takewave {
    position: relative;
    
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
}

/* podcast circle  */
.podcast-circle {
    display: flex;
    justify-content: center;
    align-items: center;

   
    
}
.mike {
    position: absolute;
}

.circle-new{
    position: relative;

}
.badge-new {
    
    position: absolute;
    left: 230px;

}


/* Banner text  */
.banner h1 {
    font-size: 48px;
    margin-bottom: 20px;
    
}
.tagline {
    font-size: 20px;
    margin-bottom: 20px;
    opacity: 0.9;
}

/* Banner buttons  */
.banner-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.btn-spotify {
    background:  linear-gradient(45deg ,#F7E935 , #FB09b4 , #9100F8) ;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 18px ;
    font-weight: 600 ;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

}
.btn-subscribe {
    border: 1px solid #00FF88;
    color: #00FF88;
    background-color: transparent;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 18px ;
    font-weight: 600;
    cursor: pointer;
    transition: 0 10px 20px rgba(102,126,234, 00.3);
}

/* About styles */
.about-section {
 padding: 50px 0;
 background-color: #1A0B2E;   
}
.about-section h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #ffffff;
}
.about-description {
    text-align: center;
    max-width: 8000px;
    margin: 0 auto 20px;
    font-size: 18px;
    line-height: 1.8;
    color: #ffffff;


}
.join-text {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 50px;
}
/* statistic grid  */
.starts-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;

}
.start-item {
    text-align: center;
    padding: 40px 20px;
    background: #1A0B2E;
    border-radius: 15px;
    
}
.start-item h3 {
    font-size: 42px;
    color: #00FF88;
    margin-bottom: 10px;
}
.start-item p {
    color: #ffffff;
    font-weight: 500;
    
}

/* Feature section   */
.features-section {
    padding: 100px 0;
    background-color: #1A0B2E;
}
.features-section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #ffffff;
}
.features-grid {
    display: grid;
   
    grid-template-columns: repeat(3, 1fr); 
    
    gap: 24px; 
    max-width: 1100px;
    margin: 0 auto;
}


.feature-card {
    background: #250D44; 
    padding: 30px;
    border-radius: 24px;
    color: #ffffff;
}




.card-audio {
    
    grid-row: span 2;
}


.card-mobile, .card-community {
    grid-column: span 2;
}


.card-interviews {
    grid-column: span 2;
}


.card-resources {
    grid-column: 3;
}

/* Section episode  */
.episodes-section {
    background-color: #1A0B2E ;
}
.episodes-section h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #ffffff;
}
.episodes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}


.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.episode-card {
    background-color: #1d0b3b;
    border-radius: 25px;
    overflow: hidden;
}

.episode-content {
    padding: 25px;
    color: white;
}

.duration {
    color: #00ffaa;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
}



/* meet the host  */

.host-section {
    background-color: #1A0B2E; 
    padding: 80px 20px;
    font-family: 'Inter', sans-serif;
    color: white;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}


.host-card {
    background-color: #1d0b3b; 
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.host-image-container {
    flex-shrink: 0;
}

.host-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.1);
}


.host-info {
    flex-grow: 1;
}

.host-name {
    font-size: 2rem;
    margin: 0 0 15px 0;
}

.host-bio {
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 25px;
    font-size: 1rem;
}


.social-icons {
    display: flex;
     background-color: linear-gradient(45deg ,#F7E935 , #FB09b4 , #9100F8);
    gap: 15px;
}

.social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(45deg ,#F7E935 , #FB09b4 , #9100F8);
    display: flex;
    align-items: center;
    justify-content: center;
    color:  linear-gradient(45deg ,#F7E935 , #FB09b4 , #9100F8);
    text-decoration: none;
   
}

.social-link:hover {
    background: linear-gradient(45deg, #ff00cc, #3333ff);
    transform: translateY(-3px);
}
/* <!-- footer section */
.main-footer {
    background-color: #12052a; 
    background-image: url('./assets/footer-bg.png');
    background-size: cover;
    background-position: center;
    padding: 60px 20px 40px;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo Styling */
.footer-logo h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.footer-logo span {
    background: linear-gradient(to right, #ff00cc, #3333ff);
    
}

/* Social Links Layout */
.footer-social {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.social-item {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #b1a7c1;
    transition: color 0.3s ease;
}

.social-item img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.social-item:hover {
    color: white;
}

/* Bottom Text */
.footer-bottom p {
    font-size: 0.9rem;
    color: #665c7d;
    margin-top: 20px;
}














/* responsive for navbar  */
@media (max-width: 576px) {
    .container-nav-container {
        width: 90%;
        max-width: 576px;
        margin: 0 auto;
    }
    .nav-menu, .btn-gradient {
        display: none;
    }
    
    .hamburger {
        display: block;
    }
    
    .mobile-menu.show {
        display: block;
    }

    /* responsive banner */

    .banner-content {
        padding: 40px 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .banner {
        margin-bottom: 0 auto;
        
    
    }
    
    .podcast-circle {
        position: relative;
        width: 180px; 
        height: 180px;
        margin: 0 auto 30px auto; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .circle-new img:first-child {
        width: 100%;
        height: auto;
    }
    
    .mike {
        position: absolute;
        width: 50px; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    .badge-new {
        position: absolute;
        width: 70px; 
        top: 10px;
        right: 20px;
        z-index: 3;
    }
    
    .banner h1 {
        font-size: 32px; 
        margin-bottom: 10px;
        line-height: 1.2;
    }
    
    .tagline {
        font-size: 14px;
        margin-bottom: 30px;
        line-height: 1.5;
        padding: 0 10px;
    }
    
    .banner-buttons {
        flex-direction: column; 
        gap: 15px;
        width: 100%;
        align-items: center;
    }
    
    .btn-spotify, .btn-subscribe {
        width: 100%;
        max-width: 300px; 
        justify-content: center; 
        font-size: 16px;
        padding: 12px;
    }
    
    .btn-subscribe {
        border: 1px solid #00FF88; 
        background-color: transparent;
        color: #ffffff; 
    }
    
    

/* About section */

.about-section {
    padding: 60px 0;
}
.about-section h2 {
    font-size: 28px;
}
.about-section p {
    font-size: 10px;
}
.starts-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.start-item {
padding: 30px 15px;
}
.start-item h3 {
font-size: 32px;
}

/* feature responsive  */
.features-grid {
    grid-template-columns: 1fr;
}

.feature-card {
    padding: 30px 20px;
}

.card-audio, .card-mobile, .card-community, .card-interviews, .card-resources {
    grid-column: span 1;
    grid-row: span 1;
}
/* episode  */

.episodes-grid {
    grid-template-columns: 1fr;
    padding: 0 15px;
}

.section-title {
    font-size: 1.8rem;
}

.episode-card {
    max-width: 100%;
}



/* meet the host */

.host-card {
    flex-direction: column; 
    text-align: center;
    padding: 30px 20px;
    gap: 25px;
}

.host-image {
    width: 150px;
    height: 150px;
}

.host-name {
    font-size: 1.6rem;
}

.social-icons {
    justify-content: center;
}

/* Footer  */
.main-footer {
    padding: 40px 15px;
}

.footer-logo h1 {
    font-size: 2.2rem;
}

.footer-social {
    flex-direction: column; 
    align-items: center;
    gap: 20px;
}

.social-item {
    width: 160px; 
    justify-content: flex-start;
}
















}